{
  "password" : "{{ kibana_nginx_pass }}",
  "roles" : [
    "{{kibana_readonly_role}}"
#    "kibana_dashboard_only_user",
#    "kibana_system"
  ],
  "full_name" : "Public user",
  "enabled" : true
}
